
body {
    display: flex;
    min-height: 100vh;
    background-color: #f8faf8;
}

.sidebar {
    min-width: 250px;
    background-color: hsl(211, 16%, 26%);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: hsl(211, 25%, 40%);
}

.container {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.btn-danger {
    background-color: hsl(211, 16%, 26%);
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.sairmenu {
    color: #fff;
    background: rgb(14, 86, 168);
    border: none;
    cursor: pointer;
    width: 100%;
}

.sairmenu:hover {
    color: #ffffff;
    background: black;
}

.navbar-brand {
    text-align: center;
    margin-bottom: 20px;
}

.navbar-brand img {
    margin: 0 auto;
    display: block;
    width: 130px;
    height: auto;
}

.navbar-nav {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        min-width: 200px;
    }

    .container {
        margin-left: 200px;
    }

    .navbar-brand img {
        width: 100px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        min-width: 100px;
    }

    .container {
        margin-left: 100px;
    }

    .navbar-brand img {
        width: 80px;
    }
}