{% extends "base.html" %}
{% load static %}

{% block dashboard %}
<h1 class="my-4">Lista de Usuários</h1>
<a href="{% url 'usuario_pdf' %}" target="_blank" class="btn colorprimarybtn2 mb-3">Exportar PDF</a>
<a href="{% url 'registrar_usuario' %}" class="btn btn-primary mb-3">Cadastrar Novo Usuário</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome Completo</th>
            <th>telefone</th>
            <th>Email</th>
            <th>Tipo</th>
            
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.tipo }}</td>
            <td>
                <a href="{% url 'atualizar_usuario' usuario.pk %}" class="btn btn-sm btn-warning">Editar</a>

                <form action="{% url 'deletar_usuarios' usuario.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger"
                        onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Deletar</button>
                </form>
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">Nenhum usuário encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}