{% extends "base.html" %}
{% load static %}

{% block dashboard %}
<h1 class="my-4">Registrar Usuário</h1>

<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        {% if form.errors %}
    <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|striptags }}</li>
        {% endfor %}
    </ul>
{% endif %}
       
        <div class="form-group col-md-6">
            <label for="nome">Nome Completo:</label>
            <input type="text" class="form-control" name="nome" id="nome" required value="{{ form.nome.value|default_if_none:'' }}">
        </div>
        <div class="form-group col-md-6">
            <label for="id_login">Email</label>
            <input type="text" class="form-control" id="id_login" name="email" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_login">Telefone</label>
            <input type="text" class="form-control" id="id_login" name="telefone" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_senha">Senha</label>
            <input type="password" class="form-control" id="id_senha" name="password" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_tipo">Tipo de Usuário</label>
            <select class="form-control" id="id_tipo" name="tipo" required>
                <option value="">Selecione...</option>
                <option value="administrador">Administrador</option>
                <option value="bibliotecario">Bibliotecário</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
    <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary ml-2">Voltar</a>
</form>
{% endblock %}